/* Settings for CV-Page */
.cv_parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv_child {
    margin-top: 5em;
    text-align: center;
}

#cv {
    color: white;
    font-size: 3em;
}

.cv_row {
    justify-content: center;
    align-items: center;
}

.cv_column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    text-align: center;
    justify-content: center;
    font-size: 1.25em;
}

span {
    font-size: 1em;
}

hr {
    width: 50%;
    color: white;
}

.accomplishment {
    font-size: 1.25em;
}

main {
    margin-bottom: 5em;
}