/* Menue */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

li {
  float: left;
  box-sizing: border-box;
  width: 10em;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 1.5em;
}
li a:hover { color:grey; }

.center_menu { display: flex; justify-content: center;}

@media screen and (max-width: 600px) {
  li a { padding: 5px; font-size: 1em;}
}

/* Font-Einstellungen fuer gesamtes Dokument */
* {font-family: 'Oswald', sans-serif; text-transform: uppercase;}
* {color: white;}

/* Body-Hintergrund */
body {background-image: url(img/background-min.jpeg); background-size: cover; background-attachment: fixed;}

/* Einstellungen fuer Projekte-Seite */
.projects_parent {display: flex; justify-content: center; align-items: center;}
.projects_child { margin-top: 5em; text-align: center;}
#projects {color: white; font-size: 3em; }
.projects_description {text-align: justify; font-size: 1.25em;}
a:hover { color:grey; }
#projects_description_MultiTool {padding-left: 5em; padding-right: 5em;}
#projects_download, #projects_criticism {font-size: 1.25em;}
#show_content:hover {color: grey;}

/* Bilder */
img { max-width:100%; height:auto;}
